PaddleOCR/output
PaddleOCR/log
PaddleOCR/result_*
TextRecognitionDataGenerator/trdg/out
img_data
PaddleOCR/inference_results*
tools/result
PaddleOCR/output_v1
tools/real_test_results*
test
PaddleOCR/Pretrained_model
PaddleOCR/rec_inference*